* {
    margin: 0;
    padding: 0;

}
// html,
// body {
//     width: 100%;
//     height: 100%;
//     background: white;
//     font-family: 'Fjalla One', sans-serif;
//     font-size: 18px;
// }
// h1 {
//     color: #ccc;
//     text-align: center;
//     font-size: 1.8rem;
//     padding-top: 40px; 
//     text-shadow: rgba(0,0,0,0.6) 1px 0, rgba(0,0,0,0.6) 1px 0, rgba(0,0,0,0.6) 0 1px, rgba(0,0,0,0.6) 0 1px;
// }
.tree {
    // margin: 20px auto;
    width: 100%;
    min-height: auto;
}
.tree ul {
    padding-top: 20px;
    position: relative;
}
.tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 3px 0 3px;
}
.tree li::before, .tree li::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 1px solid #0c6957;
    width: 50%; 
    height: 20px;
}
.tree li::after{
    right: auto; 
    left: 50%;
    border-left: 1px solid #0c6957;
}
.tree li:only-child::after, .tree li:only-child::before {
    content: '';
    display: none;
}
.tree li:only-child{ padding-top: 0;}
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    border-right: 1px solid #0c6957;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #0c6957;
    width: 0; height: 20px;
}
.tree li a{
    border: 1px solid #0c6957;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
}
.tree li a:hover, .tree li a:hover+ul li a {
    background: #1ABB9C ; 
    color: #000;
    border: 1px solid #0c6957;
}
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    content: '';
    border-color:  #0c6957;
}
.body-tree {
    position: relative;
    padding: 15px;
    max-width: 100%;
    overflow-x: auto;
}
.tree .level-one img {
    height: 100px;
    width: 100px;
}
.tree .level-two img {
    height: 70px;
    width: 70px;
}
.tree .level-two img {
    height: 60px;
    width: 60px;
}